@using Web.Admin.Helpers
<!DOCTYPE html>
<html>
<head>
    <title>Oxigin - @ViewBag.Title</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <![endif]-->
    <link href="@Url.Content("~/assets/images/meta_icons/favicon.ico")" rel="shortcut icon" type="image/x-icon">
    <link href="@Url.Content("~/assets/images/meta_icons/apple-touch-icon-precomposed.png")" rel="apple-touch-icon-precomposed">

    <!-- / bootstrap [required] -->
    <link href="@Url.Content("~/assets/stylesheets/bootstrap/bootstrap.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/assets/stylesheets/plugins/datatables/datatables.css")" rel="stylesheet" type="text/css" media="all" />

    <!-- / theme file [required] -->
    <link href="@Url.Content("~/assets/stylesheets/light-theme.css")" rel="stylesheet" type="text/css" media="all" id="color-settings-body-color" />
    <!-- / coloring file [optional] (if you are going to use custom contrast color) -->
    <link href="@Url.Content("~/assets/stylesheets/theme-colors.css")" rel="stylesheet" type="text/css" media="all" />
    <link href="@Url.Content("~/assets/stylesheets/override.css")" rel="stylesheet" type="text/css" />

    <!-- / jquery [required] -->
    <script src="@Url.Content("~/assets/javascripts/jquery/jquery.min.js")" type="text/javascript"></script>
    <!-- / jquery mobile (for touch events) -->
    <script src="@Url.Content("~/assets/javascripts/jquery/jquery.mobile.custom.min.js")" type="text/javascript"></script>
    <!-- / jquery ui -->
    <script src="@Url.Content("~/assets/javascripts/jquery/jquery-ui.min.js")" type="text/javascript"></script>
    <!-- / jQuery UI Touch Punch -->
    <script src="@Url.Content("~/assets/javascripts/jquery/jquery.ui.touch-punch.min.js")" type="text/javascript"></script>
    <!-- / bootstrap [required] -->
    <script src="@Url.Content("~/assets/javascripts/bootstrap/bootstrap.js")" type="text/javascript"></script>
    <!-- / modernizr -->
    <script src="@Url.Content("~/assets/javascripts/plugins/modernizr/modernizr.min.js")" type="text/javascript"></script>
    <!-- / retina -->
    <script src="@Url.Content("~/assets/javascripts/plugins/retina/retina.js")" type="text/javascript"></script>
    <!-- / theme file [required] -->
    <script src="@Url.Content("~/assets/javascripts/theme.js")" type="text/javascript"></script>

</head>
<body class="fixed-header fixed-navigation contrast-fb">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <a class="toggle-nav btn pull-left" id="NavTab" href="#">
                <i class="fa fa-bars"></i>
            </a>
            <a class="navbar-brand" href="@Url.Action("index", "Home")">
                Oxigin
            </a>

            <ul class="nav" style="margin-right: -14px">
                <li class="dropdown dark user-menu" id="account-settings">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="user-name">@User.Identity.Name</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Action("Index", "Manage")">
                                <i class="fa fa-user"></i>
                                My Account
                            </a>
                        </li>
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Index", "AdminAccount")"><i class="fa fa-list-alt"></i> All Users</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Register", "Account")"><i class="fa fa-plus"></i> Add New User</a></li>
                        }
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("LogOff", "Account")">
                                <i class="fa fa-sign-out"></i> Sign out
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <div id="wrapper">
        <div id="main-nav-bg"></div>
        <nav class="main-nav-fixed" id="main-nav">
            <div class="navigation">
                <ul class="nav nav-stacked">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Project")">
                            <i class="fa fa-th-large"></i>
                            <span>Projects</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Report")">
                            <i class="fa fa-briefcase"></i>
                            <span>Reports</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <section id="content">
            <div class="container">
                <div class="row" id="content-wrapper">
                    <div class="col-xs-12">
                        @RenderSection("header", true)

                        @{ Html.Flash(); }
                        @RenderBody()
                    </div>
                </div>
                <footer id="footer">
                    <div class="footer-wrapper">
                        <div class="row">
                            <div class="col-sm-6 text">
                                &copy; @DateTime.Now.Year Oxigin.
                                <a href="#">Terms and conditions</a> apply.
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </section>
    </div>
    @RenderSection("scripts", false)
</body>
</html>