@model Web.Admin.Models.ChangeAccountPhone

@{
    ViewBag.Title = "Account Update";
}

@section header{
    <div class="page-header">
        <h1 class="pull-left">
            <i class="fa fa-user"></i>
            <span>My Account :: Update</span>
        </h1>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-header dark-background">
                <div class="title">
                    <div class="fa fa-pencil-square"></div>
                    Enter New Phone Number
                </div>
                <div class="actions">
                    <a class="btn box-collapse btn-xs btn-link" href="#">
                        <i></i>
                    </a>
                </div>
            </div>
            <div class="box-content">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone)
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-actions form-actions-padding-sm form-actions-padding-md form-actions-padding-lg" style="margin-bottom: 0;">
                        <input type="submit" class="btn btn-success btn-sm" value="Change" /> or
                        <a href="@Url.Action("Index")" class="btn btn-sm btn-danger">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}